# Para que no versine lo que tira vscode en esa carpeta magica
.vscode

# Para que no versione los .class si se genera alguno por una prueba o algo
*.class

# Para que no versione los .class si se genera alguno por una prueba o algo
target/

# No se que es esa carpeta pero no tiene pinta de ir en el repo
.idea/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
*.iml